%h1 Guitar Tabs

#whatever
  = form_tag tabs_path, :method => :get do
    %p
      = text_field_tag :search, params[:search]
      = submit_tag "Search", :name => nil


%table
  %tr
    %th Artist
    %th Song
    %th Tuning
    %th Tabbed By

  - @tabs.each do |tab|
    %tr
      %td= tab.artist
      %td= tab.song
      %td= tab.tuning
      - if tab.user.present?
        %td= tab.user.username
      - else
        %td