%h1 Guitar Tabs

#whatever
  = form_tag tabs_path, :method => :get do
    %p
      = text_field_tag :search, params[:search]
      = hidden_field_tag :username, params[:username]
      = submit_tag "Search", :name => nil


- if !@tabs.nil?
  %table
    %tr
      %th Artist
      %th Song
      %th Tuning
      %th Tabbed By

  
    - @tabs.each do |tab|
      %tr
        %td= link_to tab.artist, "/index/#{tab.artist}"
        %td= link_to tab.song, tab.submission.url
        %td= tab.tuning
        - if tab.user.present?
          %td= link_to tab.user.username, "/profile/#{tab.user.username}"
        - else
          %td
- else
  %p No tabs found.