%h1 Guitar Tabs

#whatever
  = form_tag tabs_path, :method => :get do
    %p
      = text_field_tag :search, params[:search]
      = submit_tag "Search", :name => nil


- if !@tabs.nil?
  %table
    %tr
      %th Artist/Song
      %th Tuning
      %th Tabbed By
      %th Last Updated

  
    - @tabs.each do |tab|
      %tr
        %td
          = link_to tab.artist.camelize, tabs_path(:search => tab.artist)
          \-
          = link_to tab.song.camelize, tab.submission.url
        %td= tab.tuning
        - if tab.user.present?
          %td= link_to tab.user.username, "/profile/#{tab.user.username}"
        - else
          %td
        %td= tab.updated_at
- else
  %p No tabs found.