%h1 Listing tabs

#whatever
  = form_tag tabs_path, :method => :get do
    %p
      = text_field_tag :search, params[:search]
      = submit_tag "Search", :name => nil


%table
  %tr
    %th Author
    %th Artist
    %th Song
    %th Tuning
    %th
    %th
    %th

  - @tabs.each do |tab|
    %tr
      %td= tab.author
      %td= tab.artist
      %td= tab.song
      %td= tab.tuning
      %td= link_to 'Show', tab
      %td= link_to 'Edit', edit_tab_path(tab)
      %td= link_to 'Destroy', tab, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Tab', new_tab_path
