%h1 Guitar Tabs

#whatever
  = form_tag tabs_path, :method => :get do
    %p
      = text_field_tag :search, params[:search]
      = hidden_field_tag :view, params[:view]
      = submit_tag "Search", :name => nil


%table
  %tr
    %th Artist
    %th Song
    %th Tuning
    %th Tabbed By
    %th URL

  - @tabs.each do |tab|
    %tr
      %td= tab.artist
      %td= tab.song
      %td= tab.tuning
      - if tab.user.present?
        %td= link_to tab.user.username, tabs_path(:view => tab.user.username)
      - else
        %td
      %td= link_to "open", tab.submission.url