%h2 Your Tabs

#whatever
  = form_tag "mine", :method => :get do
    %p
      = text_field_tag :search, params[:search]
      = submit_tag "Search", :name => nil


%div= "Count: #{@tabs.count} tabs"

%br
%table
  %tr
    %th Artist/Song
    %th Tuning
    %th Tabbed By
    %th
    %th

  - @tabs.each do |tab|
    %tr
      %td
        = link_to tab.artist.camelize, "/index/#{tab.artist}"
        \-
        = link_to tab.song.camelize, tab.submission.url
      %td= tab.tuning
      - if tab.user.present?
        %td= link_to tab.user.username, "/profile/#{tab.user.username}"
      - else
        %td
      %td= link_to 'Edit', edit_tab_path(tab)
      %td= link_to 'Delete', tab, :confirm => 'Really?', :method => :delete