%h2 Your Tabs

#whatever
  = form_tag "mine", :method => :get do
    %p
      = text_field_tag :search, params[:search]
      = submit_tag "Search", :name => nil

%br
%table
  %tr
    %th Artist/Song
    %th Tuning
    %th Last Updated
    %th
    %th

  - @tabs.each do |tab|
    %tr
      %td
        = link_to tab.artist.camelize, tabs_path(:search => tab.artist)
        \-
        = link_to tab.song.camelize, tab
      %td= tab.tuning
      %td= tab.updated_at
      %td= link_to 'Edit', edit_tab_path(tab)
      %td= link_to 'X', tab, :confirm => 'Really?', :method => :delete
  #previous_next= paginate @tabs