%p#notice= notice

- if !@tab.nil?
  %p
    %b Viewing:
    = link_to @tab.artist, tabs_path(:search => @tab.artist)
    \-
    = @tab.song
  %p
    %b Tuning:
    = @tab.tuning
  %p
    %b Tabbed By:
    = @tab.user.username

  
  
  %pre= render :file => "public#{@tab.submission.url}"

- else
  %p No tabs found.
