%p#notice= notice

%p
  %b Author:
  = @tab.author
%p
  %b Artist:
  = @tab.artist
%p
  %b Song:
  = @tab.song
%p
  %b Tuning:
  = @tab.tuning

= link_to 'Edit', edit_tab_path(@tab)
\|
= link_to 'Back', tabs_path
