%p#notice= notice

- if !@tab.nil?
  %p
    %b Artist:
    = @tab.artist
  %p
    %b Song:
    = @tab.song
  %p
    %b Tuning:
    = @tab.tuning

  %p
    %b Tabbed By:
    = @tab.user.username

  = link_to 'Edit', edit_tab_path(@tab)
  \|
  = link_to 'Back', tabs_path
- else
  %p No tabs found.
